shubam-template-|-ai-agent-|-telegram-h2bDh5qoyLX2aqpf.json
{"createdAt":"2025-03-20T14:41:36.614Z","updatedAt":"2025-03-20T14:41:36.614Z","id":"h2bDh5qoyLX2aqpf","name":"Shubam Template | AI Agent | Telegram","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-60,-120],"id":"4d9f68df-88aa-4efe-99e4-2f962985c4b3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,300],"id":"816c3940-c8d9-4a66-84cb-eb8a4129b534","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[60,300],"id":"efc48a04-a691-4419-a03a-2b340b1abe72","name":"Window Buffer Memory"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-340,-120],"id":"2e32f1b0-850f-45f5-956a-1877c32fd4dc","name":"Telegram Trigger","webhookId":"d748e62a-cdeb-4664-9dda-1bdc27af3516"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[460,-100],"id":"6cca26eb-4cdc-41dd-91ff-62e5be70884c","name":"Telegram","webhookId":"184d8f7a-dc8f-4354-be6d-7f77d505e99e"},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[580,280],"id":"5b9ac328-125b-4b75-894d-3cfedc6a11b1","name":"Gmail","webhookId":"cc379d2b-81f4-46ab-b28d-bd3486dc75d9"},{"parameters":{"name":"GoogleContact","workflowId":{"__rl":true,"value":"2UmQCHenGxf3lkbd","mode":"list","cachedResultName":"My Sub-Workflow 1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[780,300],"id":"589ed747-ea1a-4923-a575-0b0f02fbbd91","name":"GoogleContact"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"GoogleContact":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"591076ca-856b-409d-b49b-29f8593eec1a","triggerCount":0,"tags":[]}