shubam-template-|-whatsapp-GlgpTeTWgsNMPNBn.json
{"createdAt":"2025-03-20T14:31:58.182Z","updatedAt":"2025-03-20T14:32:34.000Z","id":"GlgpTeTWgsNMPNBn","name":"Shubam Template | Whatsapp","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[220,600],"id":"ce9dc540-2e33-4bd7-8586-5a4f98cf0fe5","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Rôle  \nL’agent principal est un **super agent** chargé de gérer et de coordonner plusieurs sous-agents spécialisés. Il permet d’exécuter des tâches variées en déléguant les requêtes aux agents appropriés.\nAujourd'hui nous sommes le {{ $now }}\n\n---\n\n# Scope  \nL’agent principal peut :  \n- Accéder aux informations bancaires via **Qonto Bank Agent**  \n- Récupérer des transactions et ventes via **ThriveCart Agent**  \n- Gérer les e-mails (lecture, envoi, réponse, archivage) via **Gmail Agent**  \n- Gérer l’agenda et la disponibilité via **Calendar Agent**  \n- Accéder aux contacts Google via **Google Contacts**  \n- Gérer les tâches et vidéos via **Notion Agent**  \n\nL’agent principal ne traite pas directement les requêtes mais les distribue aux agents spécialisés.\n\n---\n\n# Sous-agents et capacités  \n\n## Qonto Bank Agent\nGère les interactions avec la banque **Qonto**.  \n**Utilisation :** Toute requête liée aux finances, paiements et transactions bancaires.  \n\n## ThriveCart Agent\n\nGère les transactions liées aux ventes de formations ou d’autres produits.\nUtilisation : Vérification des paiements et des commandes clients.\n\n## Gmail Agent\n\nGère les e-mails (recherche, envoi, réponse, archivage).\nQuand tu veux envoyer des emails dis le à l'agent explicitement\nUtilisation : Consultation et gestion de la boîte mail.\n\n## Calendar Agent\n\nGère l’agenda et la disponibilité.\nUtilisation : Planifier des événements, vérifier la disponibilité, modifier un rendez-vous.\n\n## Google Contacts\n\nPermet d’accéder aux contacts enregistrés.\nUtilisation : Rechercher des informations sur un contact.\n\n## Notion Agent\n\nGère les to-dos et les idées de vidéos sur Notion.\nUtilisation : Ajouter, rechercher ou modifier des tâches et des vidéos.\n\n# Format des réponses\n\t•\tRéponses claires et précises\n\t•\tStructuration en listes si nécessaire\n\t•\tDonnées organisées pour une meilleure lisibilité\n\n# Contraintes\n\t•\tL’agent principal ne traite pas directement les requêtes mais distribue aux agents spécialisés\n\t•\tChaque sous-agent a ses propres limitations et accès restreints\n\t•\tL’agent principal ne demande jamais d’informations sensibles comme des mots de passe\n\t•\tIl ne faut pas haluciner, donc n'hésites pas à demander des informations de clarification si besoin.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[680,60],"id":"95ca66ac-dd34-48e6-93b8-128a70cba64f","name":"AI Agent"},{"parameters":{"name":"qonto_bank_agent","description":"Call this tool to get any information or to do anything regarding my bank which is named Qonto.","workflowId":{"__rl":true,"value":"84yoaxDH7aMI1tKA","mode":"list","cachedResultName":"bank_qonto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[580,600],"id":"3c63b498-3754-454d-94ef-265e0dae4ce4","name":"Qonto Bank Agent"},{"parameters":{"name":"thrivecart_agent","description":"Call this agent whenever you neeed any information about a clients buying a course or any transaction information about a client.","workflowId":{"__rl":true,"value":"bUUFGoKIGWQWdA7P","mode":"list","cachedResultName":"ThriveCart Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[740,600],"id":"b5cd1d8e-d4b9-43a7-b428-d4502f2cf090","name":"ThriveCart Agent"},{"parameters":{"updates":["messages"]},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-500,0],"id":"fc5ab946-0e53-4ca6-bf60-2af28906f8bd","name":"WhatsApp Trigger","webhookId":"93ef3b10-62fb-487f-bdd3-0af498493fa1"},{"parameters":{"operation":"send","phoneNumberId":"496335473567208","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1180,60],"id":"01e5432d-6362-4ac2-a1f9-4205edeb85a1","name":"WhatsApp Message","webhookId":"2ae97933-bebd-4861-a353-3bf429b535f6"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[400,600],"id":"f2687bf2-bd0d-45f2-9be8-5cafef05feab","name":"Window Buffer Memory"},{"parameters":{"name":"Calendar_tool","description":"Call this tool whenever you need anything to do with my agenda.","workflowId":{"__rl":true,"value":"kn9oXMlCH8bxWuSj","mode":"list","cachedResultName":"calendar agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1060,600],"id":"f7fe87a4-486b-4fc0-be06-9695394a819d","name":"Calendar Agent"},{"parameters":{"operation":"getAll","limit":20,"fields":["*"],"useQuery":true,"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[1380,600],"id":"acf3f2f6-db7f-4af9-a82d-c5a52f92eb20","name":"Google Contacts"},{"parameters":{"name":"notion_tool","description":"CAll this agent whenever you need to do anything with todos, or videos.","workflowId":{"__rl":true,"value":"b7PHwz2RYV2tNWgi","mode":"list","cachedResultName":"Notion Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1220,600],"id":"2876bc90-ff98-4890-be61-999a26d73b47","name":"Notion Agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"81dbc914-1983-4f35-b671-728ccd26c607"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd17a39c-1e49-49d3-89f9-f09e7cf6a52e","leftValue":"={{ $json.messages[0].type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-340,0],"id":"c58f25d1-ed09-4da4-93f2-0272c70c0e9d","name":"Switch"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-60,100],"id":"92b7212c-6354-45f6-ac82-1f46e87eb357","name":"WhatsApp Business Cloud","webhookId":"66d92831-4621-44ce-b30e-1351439e1dc4"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,100],"id":"883479cd-86fa-44e5-8535-c88677fb435b","name":"HTTP Request"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[280,100],"id":"fb980320-178d-4f04-84b8-452b89d793af","name":"OpenAI"},{"parameters":{"assignments":{"assignments":[{"id":"2f65952b-56ac-416b-af00-15f069f109c6","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-60],"id":"d8bd1352-d777-47dc-8f3f-9586ccdd89a4","name":"Edit Fields"},{"parameters":{"name":"email_agent","description":"Call this agent to get my emails, write email.\nAsk this agent with action you want to do like \nSend, reply, serach or whatever","workflowId":{"__rl":true,"value":"iA4v1mdWETVPO4nr","mode":"list","cachedResultName":"Email Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[880,640],"id":"a90b57d5-8bbb-4078-852d-02a333558852","name":"Email Agent"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Qonto Bank Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ThriveCart Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"WhatsApp Message","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Contacts":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Notion Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Email Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9b58c03d-83ef-48ab-afbf-8f8048402f27","triggerCount":0,"tags":[]}