supabase-rag-ai-agent-arp1dV9lCmJ2pdOz.json
{"createdAt":"2025-03-26T16:55:42.903Z","updatedAt":"2025-03-27T10:02:57.000Z","id":"arp1dV9lCmJ2pdOz","name":"Supabase RAG AI Agent","active":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-480,-220],"id":"33398172-a5d6-416a-97d7-db29766a4d10","name":"When chat message received","webhookId":"54e72296-2459-479e-9494-42789fa0f38e"},{"parameters":{"content":"## RAG Al Agent with Chat Interface","height":440,"width":840},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,-300],"id":"53582fcf-f764-4cac-84ce-4e2776fc3e78","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-240,-220],"id":"a2941e23-d6b7-456d-a2a3-863f9ef0f47f","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,0],"id":"cfcce715-ca52-44af-8474-6605b705f093","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-160,0],"id":"24f51052-658e-494c-a4be-2cad908f1782","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"aez5mHa2ygKAwlny","name":"Postgres account"}}},{"parameters":{"content":"## Agent Tools for RAG","height":660,"width":760,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,-300],"id":"a1454cc9-aba3-4422-bcac-430702498a56","name":"Sticky Note1"},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[500,-220],"id":"1d0d71a8-8488-476c-9b37-674cdfa6dc59","name":"Retrieve Document"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[580,0],"id":"a8e7529b-23b5-4036-a0ca-46e88ad020e6","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[300,-20],"id":"881cee00-0687-411f-afbf-ff70fadbc930","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"J4SIiZscuCFhYeiD","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[300,200],"id":"92de1fa0-45cb-4698-adbd-6028a5a355ff","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":740,"width":1700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,420],"id":"d5fc0514-92bc-434f-a819-5d23222908aa","name":"Sticky Note2"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.id }}*"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-180,600],"id":"cc5413e4-fa11-4e5b-9b79-67bf2dbd63dd","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"J4SIiZscuCFhYeiD","name":"Supabase account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1r8xZNH9Ob60xbhtkQm-X5jGGBOw_seww","mode":"list","cachedResultName":"Interviews","cachedResultUrl":"https://drive.google.com/drive/folders/1r8xZNH9Ob60xbhtkQm-X5jGGBOw_seww"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-660,480],"id":"e48eeb3e-2874-4265-acd1-f23b63d06d2a","name":"File created","credentials":{"googleDriveOAuth2Api":{"id":"0X3vgZyexnKLGSB8","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1r8xZNH9Ob60xbhtkQm-X5jGGBOw_seww","mode":"list","cachedResultName":"Interviews","cachedResultUrl":"https://drive.google.com/drive/folders/1r8xZNH9Ob60xbhtkQm-X5jGGBOw_seww"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-660,720],"id":"289b69e6-7f4a-4cd3-9c4a-481aa93b98f6","name":"File Updated","credentials":{"googleDriveOAuth2Api":{"id":"0X3vgZyexnKLGSB8","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set file ID').item.json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[40,600],"id":"5e78777d-dca6-4884-9dd7-215e314cc313","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"0X3vgZyexnKLGSB8","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[260,600],"id":"ef9e3183-e202-4a69-bf09-a8ec05a3d4e2","name":"Extract from File"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[480,560],"id":"33251dfe-b957-44fb-87df-7853318d3f4e","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"J4SIiZscuCFhYeiD","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[400,780],"id":"babae0cb-c499-4649-9390-f5e36dd4ba2e","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set file ID').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[620,780],"id":"873cb334-be72-46f0-81d6-b99a1807ebcb","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[720,1000],"id":"4fd06005-731d-413a-8901-83136f702561","name":"Recursive Character Text Splitter"},{"parameters":{"assignments":{"assignments":[{"id":"01ce3336-0e98-42b5-af28-6748ef7b2279","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,600],"id":"cb66975d-0d4b-4bf0-84d9-cdc4158dd3c0","name":"Set file ID"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Retrieve Document":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Document","type":"ai_languageModel","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Document","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase":{"main":[[{"node":"Download file","type":"main","index":0}]]},"File created":{"main":[[{"node":"Set file ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set file ID","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Set file ID":{"main":[[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File created":{"lastTimeChecked":"2025-04-02T14:44:25Z"},"node:File Updated":{"lastTimeChecked":"2025-04-02T14:44:25Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"13ac8bff-6d90-4dee-b14c-1c9b7d6b5ab1","triggerCount":4,"tags":[]}