🏃​-strava:-following-people-Kv6ok59PLvoKLI8S.json
{"createdAt":"2025-04-14T14:44:08.119Z","updatedAt":"2025-04-17T07:50:14.000Z","id":"Kv6ok59PLvoKLI8S","name":"🏃​ Strava: Following people","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b12072d4-5119-4449-addb-39488bda4f7f","name":"When clicking ‘Test workflow’"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"page\": 1\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"1c8f3f62-d797-42a8-af5c-8374f51d6a29","name":"Edit Fields"},{"parameters":{"url":"=https://www.strava.com/api/v3/athlete/following","authentication":"predefinedCredentialType","nodeCredentialType":"stravaOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"200"},{"name":"=page","value":"={{$json[\"page\"]}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"465a3af5-2f9b-4252-aba7-162e82235251","name":"HTTP Request","credentials":{"stravaOAuth2Api":{"id":"cXVlrMvvHqfU0Clq","name":"Strava account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7cdbc823-a955-484e-9557-1fcdef0a5a44","triggerCount":0,"tags":[]}