🛍️​-assistant-boutique-8BlE3RSSLokEceoC.json
{"createdAt":"2025-03-20T11:09:42.459Z","updatedAt":"2025-03-25T13:13:17.000Z","id":"8BlE3RSSLokEceoC","name":"🛍️​ Assistant boutique","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,-200],"id":"7bf9b475-28c3-484d-a1cf-fc249f9c0134","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"fileFolder","queryString":"éclipsé","limit":1,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-180,-200],"id":"6436811f-e1bf-461f-9cb1-cc8bc1ec529b","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"0X3vgZyexnKLGSB8","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[40,-200],"id":"d48498bd-623f-4dd9-a5fd-a795344bc251","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"0X3vgZyexnKLGSB8","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"atelier-eclipse-boutique","mode":"list","cachedResultName":"atelier-eclipse-boutique"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[260,-200],"id":"d849446d-03db-4275-8931-04b633fd616b","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"rqVHRnl5hgq7bUTo","name":"PineconeApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[160,20],"id":"ea7e3f26-0789-446a-92e5-466dcecba761","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[400,20],"id":"399dbc55-6ef2-4b5b-ad7b-f23cd0ecca37","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[500,240],"id":"80da2d58-a3d1-4af2-828e-105112689cc5","name":"Recursive Character Text Splitter"},{"parameters":{"content":"## Part to Import the data\n","height":800,"width":1200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-440,-340],"id":"66144cd5-78ed-42b0-970b-ea07ea2b417b","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1160,-320],"id":"7fcefd0d-4616-4657-a6a8-39d942a2b6c5","name":"When chat message received","webhookId":"95690d84-b5a7-4132-a67f-9a246456713f"},{"parameters":{"options":{"systemMessage":"Tu es \"Philippe\" et tu travaille à la boutique \"Atelier eclipse\" un assistante qui doit répondre aux besoins des clients. Tu es spécialisé dans la réponse aux questions des clients et les aider à les ajuster sur leurs besoins spécifiques."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1380,-320],"id":"50e6152c-d85a-4525-902f-17def6a9f840","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1280,-100],"id":"da5f0e63-6f80-42e4-8342-b00679583917","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1480,-100],"id":"4b48e762-fae5-4f41-9049-f443dc42b0f0","name":"Simple Memory"},{"parameters":{"name":"Data","description":"Call this tool te of the user's question. access the database to answer all"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1640,-100],"id":"bb750245-240d-4525-aea0-28b8b3ac4a4a","name":"Answer questions with a vector store"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"atelier-eclipse-boutique","mode":"list","cachedResultName":"atelier-eclipse-boutique"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1480,120],"id":"bb12e301-4c2a-48e5-90be-51ab6ae77218","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"rqVHRnl5hgq7bUTo","name":"PineconeApi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1780,120],"id":"9e72b7d6-da00-4f63-a3ae-a502807c2f57","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1420,300],"id":"8bc8c7cf-b5c8-4fe2-a13c-8b1ae113adfc","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"content":"## Part to query the data","height":800,"width":1160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,-340],"id":"6458e8f0-5aad-4ad0-b478-a16f33c13128","name":"Sticky Note1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"55aac6eb-98b7-4f5d-955f-8a264bdac8bd","triggerCount":2,"tags":[]}