🤖​-notion-agent-rutuoliUKTnfQZNt.json
{"createdAt":"2025-03-24T19:44:35.462Z","updatedAt":"2025-04-03T08:56:24.000Z","id":"rutuoliUKTnfQZNt","name":"🤖​ Notion Agent","active":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,300],"id":"aee73c6a-85e6-4009-b6bd-a2ed9c103f6a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-780,-60],"id":"6c9c4a13-60a7-4a45-a938-a30e5243b397","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-740,180],"id":"bd4b924f-10b3-4780-9807-151df9a8a184","name":"When chat message received","webhookId":"8c251ce0-28f9-400f-b637-04c552f21651"},{"parameters":{"content":"## Notion Agent\nThis agent is dedicated to do the following actions on your Notion workflow: Creating, retrieving.\nFor testing purpose, please use the Chat Message \n","width":620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1180,-300],"typeVersion":1,"id":"63a9d837-d1c8-44a1-bdcd-4ebf6ae44e0a","name":"Sticky Note"},{"parameters":{"content":"## Message Input\nFor test purpose only \n\n{{ $json.chatInput }}","height":180,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,160],"id":"61f5e457-de90-4217-b145-02030e9f85ea","name":"Sticky Note1"},{"parameters":{"content":"## Workflow Input\nWhen query comes from a workflow\n\n{{ $json.query }}","height":200,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,-80],"id":"d528552f-5839-4dbe-9e8c-38b8d256826e","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"={{ $json.query}}","options":{"systemMessage":"=You are a helpful AI assistant.\nYou will hep me to perform actions on my Notion workspace.\nToday we are the {{$now}}\n\nYou can use the following tools to perform the action on my Notion workspace:\n- Create_todo to insert a new page in my Notion todo table\n- Create_idea to insert a new page in my Notion ideas table\n- Get_todo to get all the page title on my Notion todo table that have teh status \"To Do\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-100,-20],"id":"cbe1f15e-b4f6-4db3-a03f-aeca6e7f0acc","name":"🤖​ Notion Agent"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"1c19c427-c203-8032-b269-f04044c3e5c9","mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://www.notion.so/1c19c427c2038032b269f04044c3e5c9"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[60,300],"id":"94f1b134-e5ef-4963-8fe3-fda757059061","name":"Create_idea","credentials":{"notionApi":{"id":"9WrbZUcI4V90m8aZ","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"33628ad6-95de-43fa-8928-4c0ad41c9e3e","mode":"list","cachedResultName":"Todo","cachedResultUrl":"https://www.notion.so/33628ad695de43fa89284c0ad41c9e3e"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","propertiesUi":{"propertyValues":[{"key":"Status|select","selectValue":"To Do"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[240,300],"id":"431bcfc8-34c6-4063-97f6-ccc6d20279c1","name":"Create_todo","credentials":{"notionApi":{"id":"9WrbZUcI4V90m8aZ","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"33628ad6-95de-43fa-8928-4c0ad41c9e3e","mode":"list","cachedResultName":"Todo","cachedResultUrl":"https://www.notion.so/33628ad695de43fa89284c0ad41c9e3e"},"limit":10,"filterType":"manual","filters":{"conditions":[{"key":"Status|select","condition":"equals","selectValue":"To Do"}]},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[400,300],"id":"9c6d2fe4-8f41-405c-a0ad-bec0e8e1ed20","name":"Get_todo","credentials":{"notionApi":{"id":"9WrbZUcI4V90m8aZ","name":"Notion account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"🤖​ Notion Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"🤖​ Notion Agent","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"🤖​ Notion Agent":{"main":[[]]},"Create_idea":{"ai_tool":[[{"node":"🤖​ Notion Agent","type":"ai_tool","index":0}]]},"Create_todo":{"ai_tool":[[{"node":"🤖​ Notion Agent","type":"ai_tool","index":0}]]},"Get_todo":{"ai_tool":[[{"node":"🤖​ Notion Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"30112e12-2b2e-49af-b1b9-006a2fc2c1ce","triggerCount":2,"tags":[]}