🤖​-usual-calendar-agent-XahBCbkWDt6z3i0S.json
{"createdAt":"2025-03-24T10:23:03.784Z","updatedAt":"2025-04-04T08:31:40.000Z","id":"XahBCbkWDt6z3i0S","name":"🤖​ Usual Calendar Agent","active":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,320],"id":"fb039a97-4e5f-41f0-af01-ffa422408886","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-740,-20],"id":"dbe40f91-c29f-4d36-a9ba-1fc6a83aa032","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are a helpful AI assistant.\nYou will hep me to create an event in my calendar.\nToday we are the {{$now}}\n\nYou can use the following tools to perform the action:\n- Delete event in order to delete a specified event\n- Create event in order to create an event\n- Search Event to return all the events during the period specified\n- Update Event to update a specfific event\n- Availability to check the events I have on a specific period. To get the details of these events please use the \"Search event\" tool"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-100,-20],"id":"8d927171-56f6-49c9-9e52-cb79c27ca05c","name":"🤖​ Calendar Agent"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"frederic.fleche@gmail.com","mode":"list","cachedResultName":"Frederic Fleche"},"eventId":"={{ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-100,320],"id":"3d341345-7e04-46ec-80ed-603a1819349d","name":"Delete event","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"frederic.fleche@gmail.com","mode":"list","cachedResultName":"Frederic Fleche"},"start":"={{ $fromAI('debut') }}","end":"={{ $fromAI('fin') }}","additionalFields":{"attendees":[],"color":"6","summary":"={{ $fromAI('titre') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[40,320],"id":"337eea49-d1c2-4ef2-8a38-c5903bceb8d0","name":"Create event","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"frederic.fleche@gmail.com","mode":"list","cachedResultName":"Frederic Fleche"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[320,320],"id":"9557f77d-e807-4743-9e96-a39d80139128","name":"Update event","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"frederic.fleche@gmail.com","mode":"list","cachedResultName":"Frederic Fleche"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}","options":{"outputFormat":"bookedSlots"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[440,320],"id":"5cce198e-8bf4-4ce5-9329-65883fda6aef","name":"Availability","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-820,180],"id":"a55bd105-4d7a-44d6-b070-f8076236eaed","name":"When chat message received","webhookId":"f7624e30-8a78-4822-826e-7a0073795425"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"frederic.fleche@gmail.com","mode":"list","cachedResultName":"Frederic Fleche"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"fields":"items(start(date),start(dateTime), end(dateTime), summary)"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[180,320],"id":"9f035c01-23bf-4f4b-a04a-277e6020d95c","name":"Search event","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"content":"## Calendar Agent\nThis agent is dedicated to handle all you calendar events such as create, update, delete, search and also check for the availability.\n\nFor testing purpose, please use the Chat Message \n","width":580},"type":"n8n-nodes-base.stickyNote","position":[-1040,-280],"typeVersion":1,"id":"35f795db-643c-4f30-af31-01bdbec21f3e","name":"Sticky Note"},{"parameters":{"content":"{{ $json.chatInput }}","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,180],"id":"ac4c9659-4eba-42de-8a5b-9c49f05d2a23","name":"Sticky Note1"},{"parameters":{"content":"{{ $json.query }}","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,-20],"id":"61e93d63-ec9f-4a28-b8ce-721e12b2f403","name":"Sticky Note2"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"🤖​ Calendar Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"🤖​ Calendar Agent","type":"main","index":0}]]},"🤖​ Calendar Agent":{"main":[[]]},"Delete event":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]},"Create event":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]},"Update event":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]},"Availability":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[]]},"Search event":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33cd2fa7-49c4-43c6-9824-ea8117834197","triggerCount":2,"tags":[]}