🤖​-gmail-agent-BUbDybErkyTLOXFa.json
{"createdAt":"2025-03-24T16:40:40.920Z","updatedAt":"2025-04-03T08:56:53.000Z","id":"BUbDybErkyTLOXFa","name":"🤖​ Gmail Agent","active":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,320],"id":"b7b3bb62-4c61-4e3c-99e7-bfa4effc75e8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-780,-60],"id":"71cc961a-d38e-4bd3-be46-7ff70619ca6a","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-740,180],"id":"cf24fb05-525a-4f9d-9d6e-239ec28c3273","name":"When chat message received","webhookId":"9573f3bf-3a9c-4779-827e-8d1b52491a3c"},{"parameters":{"content":"## Gmail Agent\nThis agent is dedicated to handle your email box and to perfom the following actions: Sending, searching, Replying, Getting, Archiving\nFor testing purpose, please use the Chat Message \n","width":620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1180,-300],"typeVersion":1,"id":"a12afa74-4c43-400b-9fe1-663e3d28ca37","name":"Sticky Note"},{"parameters":{"operation":"getAll","limit":5,"filters":{"labelIds":["INBOX"],"readStatus":"unread"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[180,320],"id":"38da6f97-5403-4a14-9a0e-b606ddd72d47","name":"Unread_emails","webhookId":"df2eaa19-0e2e-4dd2-8f2f-3a2d7aec8812","credentials":{"gmailOAuth2":{"id":"ykIzRo4Mx5oItNb9","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[60,320],"id":"568066ed-9012-483a-8155-beff4ef3d5d7","name":"Send_email","webhookId":"df2eaa19-0e2e-4dd2-8f2f-3a2d7aec8812","credentials":{"gmailOAuth2":{"id":"ykIzRo4Mx5oItNb9","name":"Gmail account"}}},{"parameters":{"content":"## Message Input\nFor test purpose only \n\n{{ $json.chatInput }}","height":180,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,160],"id":"8ccd2706-8c74-4ef6-8674-ce91aac549ea","name":"Sticky Note1"},{"parameters":{"content":"## Workflow Input\nWhen query comes from a workflow\n\n{{ $json.query }}","height":200,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,-80],"id":"7c57e4f5-bb08-45e4-80aa-5f9a216ad06a","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are a helpful AI assistant.\nYou will hep me to create an event in my calendar.\nToday we are the {{$now}}\n\nYou can use the following tools to perform the action on gmail:\n- Send_email in order to send an email\n_ Unread_email in order to check unread emails"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-100,-20],"id":"470fd918-4aeb-4200-8bf7-554ea47ed288","name":"🤖Gmail Agent"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"🤖Gmail Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"🤖Gmail Agent","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"Unread_emails":{"ai_tool":[[{"node":"🤖Gmail Agent","type":"ai_tool","index":0}]]},"Send_email":{"ai_tool":[[{"node":"🤖Gmail Agent","type":"ai_tool","index":0}]]},"🤖Gmail Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bff97473-785b-452c-809c-19e26d989381","triggerCount":2,"tags":[]}