🤖​-contact-agent-MYhLOwctkBHtfSsu.json
{"createdAt":"2025-03-24T17:28:58.402Z","updatedAt":"2025-04-03T08:56:44.000Z","id":"MYhLOwctkBHtfSsu","name":"🤖​ Contact Agent","active":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,320],"id":"ee335268-9a83-461e-b0ea-e3417a9091e7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-780,-60],"id":"e9d91c89-dea1-4b9a-9521-dfc689454fae","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-740,180],"id":"6c4e89a5-7ebc-4826-8825-469a21b40951","name":"When chat message received","webhookId":"25bf3a4b-0fe6-409d-88f1-a99e16cb10eb"},{"parameters":{"content":"## Contact Agent\nThis agent is dedicated to handle your contact with the following actions: Creating, retrieving.\nFor testing purpose, please use the Chat Message \n","width":620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1180,-300],"typeVersion":1,"id":"e9f8727e-cc29-4ee2-8e01-61e0e2f1e275","name":"Sticky Note"},{"parameters":{"content":"## Message Input\nFor test purpose only \n\n{{ $json.chatInput }}","height":180,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,160],"id":"77b57d74-d00f-4de7-9a52-31b3b977ad27","name":"Sticky Note1"},{"parameters":{"content":"## Workflow Input\nWhen query comes from a workflow\n\n{{ $json.query }}","height":200,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,-80],"id":"6896ee31-51d9-43bb-8672-cf3d22c143d6","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are a helpful AI assistant.\nYou will hep me to get access to my contacts\nToday we are the {{$now}}\n\nYou can use the following tools to perform the action on my contacts:\n- Get_contacts to get a list of contacts"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-100,-20],"id":"c9837800-2b3b-4078-85df-e342e48e7bb2","name":"🤖​ Contact Agent"},{"parameters":{"operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","fields":["names","emailAddresses"],"options":{}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[180,280],"id":"a94c065a-5e1a-4895-ad17-dfb6ef496990","name":"Get_contacts","credentials":{"googleContactsOAuth2Api":{"id":"S3J6VCpoW5VfwFIb","name":"Google Contacts account"}}},{"parameters":{"content":"It is Google People API that needs to be activated and not Google Contacts because the last one has been depreciated","height":100,"color":3},"type":"n8n-nodes-base.stickyNote","position":[420,300],"typeVersion":1,"id":"eb65ea63-328f-4563-bc63-d70567b8c48c","name":"Sticky Note2"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"🤖​ Contact Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"🤖​ Contact Agent","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"🤖​ Contact Agent":{"main":[[]]},"Get_contacts":{"ai_tool":[[{"node":"🤖​ Contact Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ecfcb17c-91fd-4509-8cc0-d7f415bed26c","triggerCount":2,"tags":[]}