🤖​-supervisor-agent-Xks1wrbMUDf7HJaY.json
{"createdAt":"2025-03-20T14:09:16.327Z","updatedAt":"2025-04-03T08:55:30.000Z","id":"Xks1wrbMUDf7HJaY","name":"🤖​ Supervisor Agent","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a helpful AI assistant.\nYou will hep me to create an event in my calendar.\nToday we are the {{$now}}\n\nYou can use the following tools:\n- Usual_calendar_agent tool to deal with my agenda tasks.\n- Gmail_agent tool to deal with my email box at gmail\n- Contact_agent to get information related to my contacts\n- Notion_agent to create ideas or todo tasks in the respective table or retrieve my todo tasks from the todo Notion table.\n- Birthday_calendar_agent to record the birthday of a person in the calendar dedicated to birthdays."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[140,260],"id":"0628b681-1173-439c-b146-1f420dec21a3","name":"AI Agent"},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-1040,-20],"id":"d9264d2a-8c71-47a5-b067-74cc2149d28c","name":"WhatsApp Trigger","webhookId":"84990873-197a-4fdd-b730-1b7e0890b8dd","credentials":{"whatsAppTriggerApi":{"id":"V4SvAKpxETczXGxL","name":"WhatsApp OAuth account"}}},{"parameters":{"operation":"send","phoneNumberId":"583321308198721","recipientPhoneNumber":"=33638267241","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[640,40],"id":"9882a968-68b1-4350-a9bd-8e73b280a772","name":"WhatsApp Business Cloud1","webhookId":"56cd1429-46cc-4b9d-b2ce-6d253b099e3b","credentials":{"whatsAppApi":{"id":"EV7yhgXZ6S7TBO94","name":"WhatsApp account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,540],"id":"ed8cd21a-d598-4f55-a4bc-60cad86c1365","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{(+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5)}}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[240,540],"id":"e06c4dea-ac1b-44e6-85ab-75329fcee369","name":"Simple Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"81dbc914-1983-4f35-b671-728ccd26c607"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd17a39c-1e49-49d3-89f9-f09e7cf6a52e","leftValue":"={{ $json.messages[0].type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-820,-20],"id":"cf23e076-0868-4018-b37a-aed4bb940f95","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"2f65952b-56ac-416b-af00-15f069f109c6","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-300,-140],"id":"37f5fdec-85f8-4708-a33a-63a52c17ba87","name":"Edit Fields"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[-680,100],"id":"028b9c9d-f4de-40fd-9dd1-86e062f402d6","name":"WhatsApp Business Cloud","webhookId":"66d92831-4621-44ce-b30e-1351439e1dc4","credentials":{"whatsAppApi":{"id":"EV7yhgXZ6S7TBO94","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-500,100],"id":"329f4c6b-f5cc-45fb-bdb9-c02f6bfef03a","name":"HTTP Request","credentials":{"whatsAppApi":{"id":"EV7yhgXZ6S7TBO94","name":"WhatsApp account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-300,100],"id":"0fd83fd7-be80-485c-87b0-c7e0abc763b4","name":"OpenAI","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"content":"## Whatsapp Input\nThe Whatsapp input is here (either written or vocal)\n\n{{ $json.text }}","height":460,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-1080,-200],"typeVersion":1,"id":"79650947-8850-477f-a333-f795ad1a7ecf","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-300,380],"id":"cfa2a603-bc03-41ce-9dfd-63dbfe522e00","name":"When chat message received","webhookId":"fff0d736-6029-40c2-918a-d65d03df831a"},{"parameters":{"name":"Gmail_agent","workflowId":{"__rl":true,"value":"BUbDybErkyTLOXFa","mode":"list","cachedResultName":"🤖​ Gmail Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[620,540],"id":"22bdebd5-c728-4eb7-b659-186d3f87920f","name":"Gmail_agent"},{"parameters":{"content":"## Message Input\nFor test purpose only \n\n{{ $json.chatInput }}","height":180,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,360],"id":"0a72b86b-7307-48a7-b3ca-2b78bb9b28e2","name":"Sticky Note1"},{"parameters":{"name":"Contacts_agent","workflowId":{"__rl":true,"value":"MYhLOwctkBHtfSsu","mode":"list","cachedResultName":"🤖​ Contact Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[460,540],"id":"5b42f639-b786-4c08-be16-9b8f75fbdfa6","name":"Contacts_agent"},{"parameters":{"name":"Notion_agent","workflowId":{"__rl":true,"value":"rutuoliUKTnfQZNt","mode":"list","cachedResultName":"🤖​ Notion Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1000,540],"id":"736469dd-9a17-4d3b-a803-351ad5c16c4a","name":"Notion_agent"},{"parameters":{"name":"UsualCalendarAgent","description":"Use this tool for any calendar and event related actions.","workflowId":{"__rl":true,"value":"XahBCbkWDt6z3i0S","mode":"list","cachedResultName":"🤖​ Calendar Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[800,540],"id":"639a11e4-401e-43c2-b2ef-a92d0faa9acc","name":"Usual_calendar_agent"},{"parameters":{"name":"BirdthayCalendarAgent","description":"Call this tool when we need to rceord the birthday of a person in the calendar dedicated to birthdays.","workflowId":{"__rl":true,"value":"JSDCPWs9hvls6cQq","mode":"list","cachedResultName":"🤖​ Birthday Calendar Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[1180,540],"id":"529fa933-3522-4cc8-8ad2-b5840f3418f5","name":"Birthday_calendar_agent"}],"connections":{"AI Agent":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"Gmail_agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Contacts_agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Notion_agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Usual_calendar_agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Birthday_calendar_agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef9caeac-4b3c-4c80-a16d-7135437542b3","triggerCount":4,"tags":[]}