🤖​-birthday-calendar-agent-JSDCPWs9hvls6cQq.json
{"createdAt":"2025-04-02T15:30:42.338Z","updatedAt":"2025-04-03T08:56:00.000Z","id":"JSDCPWs9hvls6cQq","name":"🤖​ Birthday Calendar Agent","active":true,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-300,320],"id":"08a940cf-6594-4735-aa8c-c10b1f11ce04","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymFovJvIQHAY5qZo","name":"OpenAi account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-740,-20],"id":"39c7dce3-7dcc-4318-94fb-6f36887dad7f","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are a helpful AI assistant.\nYou will hep me to create an event in my calendar dedicated to record birthday of people I know.\nToday we are the {{$now}}\n\nYou can use the following tools to perform the action:\n- Delete event in order to delete a specified event\n- Create event in order to create an event\n- Search Event to identify a specific event\n- Update Event to update a specfific event"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-100,-20],"id":"8d3e2181-5982-4c13-a90b-e9425977428f","name":"🤖​ Calendar Agent"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"4cbpjhijd4fckr3lbl7039qd9s@group.calendar.google.com","mode":"list","cachedResultName":"Anniversaires"},"eventId":"={{ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-100,320],"id":"ead0352d-8054-40aa-b6ba-c39c38a53a36","name":"Delete event","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"4cbpjhijd4fckr3lbl7039qd9s@group.calendar.google.com","mode":"list","cachedResultName":"Anniversaires"},"start":"={{ $fromAI('debut') }}","end":"={{ $fromAI('fin') }}","additionalFields":{"allday":"yes","attendees":[],"color":"7","repeatFrecuency":"yearly","summary":"={{ $fromAI('titre') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[40,320],"id":"aadd18a8-4e99-42dc-9e03-2ec5257d2b32","name":"Create event","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"4cbpjhijd4fckr3lbl7039qd9s@group.calendar.google.com","mode":"list","cachedResultName":"Anniversaires"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[320,320],"id":"05837cd1-6753-441e-a75c-37ab238538e0","name":"Update event","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-820,180],"id":"06e65ac2-6e73-45d6-8f94-851ca0011115","name":"When chat message received","webhookId":"5bf3ca7d-e9dd-46ea-9793-ee78526ad293"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"4cbpjhijd4fckr3lbl7039qd9s@group.calendar.google.com","mode":"list","cachedResultName":"Anniversaires"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[180,320],"id":"d6f741be-ee1c-4e12-85ed-990e819736c1","name":"Search event","credentials":{"googleCalendarOAuth2Api":{"id":"FQBHoW0ftofBtCOo","name":"Google Calendar account"}}},{"parameters":{"content":"## Calendar Agent\nThis agent is dedicated to handle all you calendar events such as create, update, delete, search and also check for the availability.\n\nFor testing purpose, please use the Chat Message \n","width":580},"type":"n8n-nodes-base.stickyNote","position":[-1040,-280],"typeVersion":1,"id":"c27f53d8-0f06-409f-a64a-4d3f0bfc7f18","name":"Sticky Note"},{"parameters":{"content":"{{ $json.chatInput }}","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,180],"id":"ba33c308-fbe1-4d60-a388-cb02751db59d","name":"Sticky Note1"},{"parameters":{"content":"{{ $json.query }}","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,-20],"id":"d289b2c0-e231-4b9f-ae3b-3014f060b9f4","name":"Sticky Note2"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"🤖​ Calendar Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"🤖​ Calendar Agent","type":"main","index":0}]]},"🤖​ Calendar Agent":{"main":[[]]},"Delete event":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]},"Create event":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]},"Update event":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[]]},"Search event":{"ai_tool":[[{"node":"🤖​ Calendar Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff8db7a6-a050-49e3-aa5c-3e2a169334a3","triggerCount":2,"tags":[]}